<div id="player-status">
	<span id="player_1">Player 1: <%= player_1.name %></span><br />
	Wins: <%= player_1.wins %>
	Losses: <%= player_1.losses %>
	Draws: <%= player_1.draws %><br /><br />
	<span id="player_2">Player 2: <%= player_2.name %></span><br />
	Wins: <%= player_2.wins %>
	Losses: <%= player_2.losses %>
	Draws: <%= player_2.draws %><br /><br />
</div>